================================================================================

This computer system is private property.  It is for authorized use only.
          
  OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
  Hostname    : {{ ansible_hostname }}
  IP address  : {{ ansible_default_ipv4.address }}

================================================================================
